@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');




.page-header {
    background-image: linear-gradient(351deg, transparent, #00000073), url(../images/header-bg.png);
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    flex-direction: column;
}

.header-content {
    display: flex;
}

.logo {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    position: relative;
}


.logo img {
    width: 147px;
    height: 147px;
    position: absolute;
}

.link-salute {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-salute ul li {
    display: inline-block;
    padding: 20px;
}


.link-salute ul li:last-child {
    padding-left: 70px;
}

.links ul li a {
    text-decoration: none;
    font-size: 18px;
    color: var(--white);
    font-weight: 600;
}

.links ul li a:hover {
    color: var(--primary);
}

.link-salute ul li:last-child a:first-child {
    background-color: var(--primary);
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 16px;
    color: var(--white);
}

.link-salute ul li:last-child a:last-child {
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 7px;
    font-size: 16px;
    color: var(--white);
    font-size: 16px;
}

.salute {
    text-align: center;
}

.salute h1,
.salute h2 {
    margin: 0;
    font-size: 75px;
}

.salute h2 {
    font-weight: 900;
}

.salute h4 {
    margin: 0;
    font-size: 35px;
}

.salute p {
    margin: 0;
}

/* header stylesheet ends here */

/* Story Statement Styles */
.story-sec {
    background-color: rgba(166, 151, 156, 0.5);
}

.story {
    display: block;
    margin: 0 20px 20px 100px;
}

.story-container {
    display: flex;
    justify-content: space-around;
}

.story-statement h1 {
    text-align: left;
    font-size: 25px;
    margin-left: 0;
}

.story-statement {
    text-align: left;
    font-weight: lighter;
    font-size: 20px;
    max-width: 40%;
    margin: 50px;
}

.story-par {
    background-color: white;
    border: 2px solid #DBB957;
    padding: 5px;
    font-weight: 400;
    font-size: 16px;
}

.story-image {
    height: auto;
    max-width: 100%;
    display: block;
    margin: 50px 50px 50px 0;
}

/* Founders Styles */
.founders-sec {
    margin: 50px;
}

.founders {
    position: relative;
    overflow: hidden;
}

.founders-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
}

.founders-par {
    text-align: center;
    font-size: 14px;
    margin: 0 0 20px;
}

.founders-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 10vw;
}

.founders-tile {
    flex: 1 1 250px;
    max-width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px ;
    box-sizing: border-box;
}

.founders-image {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.founders-image:hover {
    transform: scale(1.1);
}

.founders-info {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.founders-artist {
    text-align: center;
    cursor: pointer;
    margin: 10px 0 5px;
}

.founders-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.founders-social-img {
    width: 30px;
    height: auto;
    cursor: pointer;
    padding: 10px;
    margin: 0 5px;
    transition: transform 0.3s ease-in-out;
}

.founders-social-img:hover {
    transform: scale(1.1);
}

/* Latest News Styles */
.news-sec {
    background-color: rgba(219, 185, 87, 0.5);
}

.news-title {
    text-align: center;
    padding-top: 20px;
    font-size: 28px;
}

.news-par {
    text-align: center;
    font-size: 14px;
    margin: 0 0 20px;
}

/* Articles Section Styles */
.news-container {
    padding: 50px 0 120px 0;
}

.article-sec {
    width: 100%;
    margin: 0 auto;
    padding: 50px 150px 0 100px;
    max-width: 1100px;
}

.article-title {
    margin-bottom: 10px;
}

.article-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.article-par {
    margin-right: 200px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: #a6979c;
    border: none;
    border-radius: 15px;
    white-space: nowrap;
}

.article-button:hover {
    background-color: #DBB957;
}

@media (max-width: 1200px) {
    .article-par {
        margin-right: 100px;
    }
}

@media (max-width: 600px) {
    .article-par {
        margin-right: 50px;
    }
}

@media (max-width: 400px) {
    .article-content {
        flex-direction: column;
    }
    .article-par {
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .article-button {
        align-self: flex-start;
    }
}