@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* header stylesheet starts here */
.main-header {
    background-image: linear-gradient(351deg, transparent, #00000073), url(../images/header-bg.png);
    height: 400px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    flex-direction: column;
}

.page-header {
    background-image: linear-gradient(351deg, transparent, #00000073), url(../images/header-bg.png);
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    flex-direction: column;
}

.header-content {
    display: flex;
}

.logo {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    position: relative;
}


.logo img {
    width: 147px;
    height: 147px;
    position: absolute;
}

.link-salute {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-salute ul li {
    display: inline-block;
    padding: 20px;
}


.link-salute ul li:last-child {
    padding-left: 70px;
}

.links ul li a {
    text-decoration: none;
    font-size: 18px;
    color: var(--white);
    font-weight: 600;
}

.links ul li a:hover {
    color: var(--primary);
}

.link-salute ul li:last-child a:first-child {
    background-color: var(--primary);
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 16px;
    color: var(--white);
}

.link-salute ul li:last-child a:last-child {
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 7px;
    font-size: 16px;
    color: var(--white);
    font-size: 16px;
}

.salute {
    text-align: center;
}

.salute h1,
.salute h2 {
    margin: 0;
    font-size: 75px;
}

.salute h2 {
    font-weight: 900;
}

.salute h4 {
    margin: 0;
    font-size: 35px;
}

.salute p {
    margin: 0;
}

/* header stylesheet ends here */


.event-hero {
    background-image: linear-gradient(351deg, transparent, #00000073), url(../images/Event-Images/Event-Home.jpg);
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    flex-direction: column;
}

.events-row{
    display: flex;
    max-width: 100%;
    width: 100%;
    
}

.events-row .event{
    width: 565px;
    height: 548px;
    margin-left: 10px;
}

.events-row .event img{
    width: 100%;
}