@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* header stylesheet starts here */
.main-header {
    background-image: linear-gradient(351deg, transparent, #00000073), url(../images/header-bg.png);
    height: 400px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    flex-direction: column;
}

.page-header {
    background-image: linear-gradient(351deg, transparent, #00000073), url(../images/header-bg.png);
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    flex-direction: column;
}

.header-content {
    display: flex;
}

.logo {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    position: relative;
}


.logo img {
    width: 147px;
    height: 147px;
    position: absolute;
}

.link-salute {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-salute ul li {
    display: inline-block;
    padding: 20px;
}


.link-salute ul li:last-child {
    padding-left: 70px;
}

.links ul li a {
    text-decoration: none;
    font-size: 18px;
    color: var(--white);
    font-weight: 600;
}

.links ul li a:hover {
    color: var(--primary);
}

.link-salute ul li:last-child a:first-child {
    background-color: var(--primary);
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 16px;
    color: var(--white);
}

.link-salute ul li:last-child a:last-child {
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 7px;
    font-size: 16px;
    color: var(--white);
    font-size: 16px;
}

.salute {
    text-align: center;
}

.salute h1,
.salute h2 {
    margin: 0;
    font-size: 75px;
}

.salute h2 {
    font-weight: 900;
}

.salute h4 {
    margin: 0;
    font-size: 35px;
}

.salute p {
    margin: 0;
}

/* header stylesheet ends here */


.event-hero {
    background-image: linear-gradient(351deg, transparent, #00000073), url(../images/Event-Images/Event-Home.jpg);
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    flex-direction: column;
}

.event-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.evts-btn {
    padding: 10px 30px;
    background-color: #DBB957;
    border-color: #DBB957;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
}

.events-row{
    display: flex;
    max-width: 100%;
    width: 100%;
}

.events-main{
    padding: 20px;
}

.events-main h2{
    text-align: center;
}
.events-row .event{
    width: 565px;
    height: 548px;
    margin-left: 10px;
}

.events-row .event img{
    width: 100%;
}

.event{
    margin-bottom: 10px;
}

.events-row{
    margin-bottom: 50px;
}

/* Carousel Section */
.past-evts{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    position: relative;
}

.carousel-image{
    display: block;
}
.carousel-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
}

.arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Adjust width as needed */
}

.arrow {
    font-size: 40px;
    cursor: pointer;
    color: #333;
    user-select: none;
}

.left-arrow {
    margin-right: 10px;
}

.right-arrow {
    margin-left: 10px;
}

.arrow:hover {
    color: #555;
}

/* Legal Section */

.legal{
    padding: 20px;
}

.legal h1{
    text-align: center;
}

/* Create Event Section */
main.create-event{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.evt-creation{
    width: 734px;
    height: 1110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: red;
}

.create-evt-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cancel-icon{
    font-size: 22px;
}

.create-evt-profile{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.artist-profile{
    width: 70px;
    height: 70px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 10px;
}

.create-evt-profile h2{
    font-size: 20px;
}

.describe{
    width: 572px;
    height: 86px;
    border: 1px solid #000;
}
.event-holder{
    height: 329px;
    width: 576px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input[type="text"]{
    border: 1px solid #5C3D6A;
    width: 573px;
    height: 40px;
}

.evts-date{
    display: flex;
    justify-content: space-between;
}
.start-date{
    width: 224px;
    height: 66px;
    border: 1px solid #000;
    border-radius: 5px;
}