@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Mission Statement Styles */
.mission-sec {
    background-color: rgba(92, 61, 106, 0.5);
}

.mission {
    display: block;
    margin: 0 20px 20px 100px;
}

.mission-container {
    display: flex;
    justify-content: space-around;
}

.main-ission-statement h1 {
    text-align: left;
    font-size: 25px;
    margin-left: 0;
}

.mission-statement {
    text-align: left;
    font-weight: lighter;
    font-size: 20px;
    max-width: 50%;
    margin: 50px;
}

.mission-image {
    height: auto;
    max-width: 90%;
    padding: 20px;
}

/* Section Styles */
.paintings, .sculptures, .photography, .drawings {
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.painting-statement, .photo-statement {
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    margin: 0 0 20px;
    font-weight: 300;
}

.sculpt-statement, .drawing-statement {
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    margin: 0 0 20px;
    color: white; 
    font-weight: 300;
}

.paintings-category, .photo-category {
    font-size: 25px;
    text-align: center;
    margin: 0 0 20px;
}

.sculpt-category, .drawing-category {
    font-size: 25px;
    text-align: center;
    margin: 0 0 20px;
    color: white;
}

.paintings-container, .sculpt-container, .photo-container, .drawing-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    position: relative;
    max-width: calc(4 * 250px + 3 * 30px);
    margin: 0 auto;
}

.paintings-container::-webkit-scrollbar, .sculpt-container::-webkit-scrollbar, .photo-container::-webkit-scrollbar, .drawing-container::-webkit-scrollbar {
    display: none;
}

.paintings-card, .sculpt-card, .photo-card, .drawing-card {
    flex: 0 0 auto;
    width: 250px;
    height: 400px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.paintings-image, .sculpt-image, .photo-image, .drawing-image {
    position: relative;
    max-width: 200px;
    height: auto;
    overflow: hidden;
}

.paintings-thumb, .sculpt-thumb, .photo-thumb, .drawing-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.paintings-info, .sculpt-info, .photo-info, .drawing-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.paintings-artist, .photo-artist {
    text-align: center;
    cursor: pointer;
    margin: 10px 0 5px;
}

.sculpt-artist, .drawing-artist {
    text-align: center;
    cursor: pointer;
    margin: 10px 0 5px;
    color: white;
}

.art-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px 0;
}

.paintings-social, .sculpt-social, .photo-social, .drawing-social {
    width: 30px;
    height: auto;
    cursor: pointer;
    padding: 10px;
    margin: 0 5px;
}

/* Painting and Photography Styles */
/* Buttons */
.paint-button, .photo-button {
    display: block;
    margin: 20px auto;
    border: 2px solid #DBB957;
    padding: 10px 40px;
    font-size: 16px;
    color: black;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.paint-button:hover, .photo-button:hover {
    border-color: #A6979C;
}

/*Gallery Image Buttons */
.pre-btn, .nxt-btn, .phpre-btn, .phnxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    cursor: pointer;
    z-index: 8;
}

.scpre-btn, .scnxt-btn, .drpre-btn, .drnxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A6979C;
    cursor: pointer;
    z-index: 8;
}

.pre-btn, .scpre-btn, .phpre-btn, .drpre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn, .scnxt-btn, .phnxt-btn, .drnxt-btn {
    right: 0;
}

.pre-btn img, .nxt-btn img, .scpre-btn img, .scnxt-btn img, .phpre-btn img, .phnxt-btn img, .drpre-btn img, .drnxt-btn img {
    opacity: 1;
}

.pre-btn:hover img, .nxt-btn:hover img, .scpre-btn:hover img, .scnxt-btn:hover img, .phpre-btn:hover img, .phnxt-btn:hover img, .drpre-btn:hover img, .drnxt-btn:hover img {
    opacity: 0.2;
}

/* Sculptures and Drawings Styles */

.sculptures, .drawings {
    background-color: #A6979C;
}

/* Buttons */
.sculpt-button, .drawing-button {
    display: block;
    margin: 20px auto;
    border: 2px solid white;
    padding: 10px 40px;
    font-size: 16px;
    color: black;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.sculpt-button:hover, .drawing-button:hover {
    border-color: #DBB957;
}